<section class="form-auth text-center container" >
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
    <%= render "devise/shared/error_messages", resource: resource %>
          
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Tu Nombre" %>

      <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Tu Correo" %>

      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Ingresa tu Contraseña", class: "form-control" %>

      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirma tu Contraseña", class: "form-control" %>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrate</button>
    
  <% end %>
    
  <%= render "devise/shared/links" %>
</section>

    